In [1]:
import pandas as pd 
import numpy as np

### Reading CSV File

In [2]:
df = pd.read_csv('data.csv')
df.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

In [3]:
df = df[['Age','Overall','Potential']]
df.head()

   Age  Overall  Potential
0   31       94         94
1   33       94         94
2   26       92         93
3   27       91         93
4   27       91         92

In [4]:
df['target'] = df[['Age','Overall','Potential']].apply(
    lambda row : 1 if row['Age'] <= 25 and row['Overall'] >= 80 and row['Potential'] >= 80 else 0, axis=1
)
df.head()

   Age  Overall  Potential  target
0   31       94         94       0
1   33       94         94       0
2   26       92         93       0
3   27       91         93       0
4   27       91         92       0

### Creating Columns Tabel

### Model Score

In [5]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score

print('DecisionTreeClassifier =',np.mean(cross_val_score(
    DecisionTreeClassifier(max_depth=5), df.drop('target', axis=1), df['target'], cv=10
)))
print('RandomForestClassifier =',np.mean(cross_val_score(
    RandomForestClassifier(n_estimators=100), df.drop('target', axis=1), df['target'], cv=10
)))
print('KNeighborsClassifier =',np.mean(cross_val_score(
    KNeighborsClassifier(n_neighbors=135), df.drop('target', axis=1), df['target'], cv=10
)))

DecisionTreeClassifier = 0.960482985729967
RandomForestClassifier = 0.960482985729967
KNeighborsClassifier = 0.975133623253916

### Modeling

In [6]:
ModelKNN =  KNeighborsClassifier(n_neighbors=135)
ModelKNN.fit(df.drop('target', axis=1), df['target'])
print('-----')

-----

In [7]:
targetx = {0 : ' tidak perlu direkrut', 1 : ' perlu direkrut'}
modelx = {'KNN' : 'Berdasarkan prediksi menggunakan model KNeighborsClassifier , '}

In [15]:
ModelKNN.predict([[27, 87, 90]])[0]

0

### Andik Vermansyah

In [18]:
name = 'Andik Vermansyah'
print(modelx['KNN'] + name + targetx[ModelKNN.predict([[27, 87, 90]])[0]])

Berdasarkan prediksi menggunakan model KNeighborsClassifier , Andik Vermansyah tidak perlu direkrut

### Awan Setho Raharjo

In [21]:
name = 'Awan Setho Raharjo'
print(modelx['KNN'] + name + targetx[list(ModelKNN.predict([[22, 75, 83]]))[0]])

Berdasarkan prediksi menggunakan model KNeighborsClassifier , Awan Setho Raharjo tidak perlu direkrut

### Bambang Pamungkas

In [22]:
name = 'Bambang Pamungkaso'
print(modelx['KNN'] + name + targetx[list(ModelKNN.predict([[38, 85, 75]]))[0]])

Berdasarkan prediksi menggunakan model KNeighborsClassifier , Bambang Pamungkaso tidak perlu direkrut

### Cristian Gonzales

In [23]:
name = 'Cristian Gonzales'
print(modelx['KNN'] + name + targetx[list(ModelKNN.predict([[43, 90, 85]]))[0]])

Berdasarkan prediksi menggunakan model KNeighborsClassifier , Cristian Gonzales tidak perlu direkrut

### Egy Maulana Vikri

In [24]:
name = 'Egy Maulana Vikri'
print(modelx['KNN'] + name + targetx[list(ModelKNN.predict([[18, 88, 90]]))[0]])

Berdasarkan prediksi menggunakan model KNeighborsClassifier , Egy Maulana Vikri perlu direkrut

### Evan Dimas

In [25]:
name = 'Evan Dimas'
print(modelx['KNN'] + name + targetx[list(ModelKNN.predict([[24, 85, 87]]))[0]])

Berdasarkan prediksi menggunakan model KNeighborsClassifier , Evan Dimas perlu direkrut

### Febri Hariyadi

In [26]:
name = 'Febri Hariyadi'
print(modelx['KNN'] + name + targetx[list(ModelKNN.predict([[23, 77, 80]]))[0]])

Berdasarkan prediksi menggunakan model KNeighborsClassifier , Febri Hariyadi tidak perlu direkrut

### Hansamu Yama Pranata

In [27]:
name = 'Hansamu Yama Pranata'
print(modelx['KNN'] + name + targetx[list(ModelKNN.predict([[24, 82, 85]]))[0]])

Berdasarkan prediksi menggunakan model KNeighborsClassifier , Hansamu Yama Pranata perlu direkrut

### Septian David Maulana

In [28]:
name = 'Septian David Maulana'
print(modelx['KNN'] + name + targetx[list(ModelKNN.predict([[22, 83, 80]]))[0]])

Berdasarkan prediksi menggunakan model KNeighborsClassifier , Septian David Maulana tidak perlu direkrut

In [29]:
name = 'Stefano Lilipaly'
print(modelx['KNN'] + name + targetx[list(ModelKNN.predict([[29, 88, 86]]))[0]])

Berdasarkan prediksi menggunakan model KNeighborsClassifier , Stefano Lilipaly tidak perlu direkrut